.simple-slider {
	position: relative;
	overflow: hidden;
}

.simple-slider__img-a,
.simple-slider__img-b {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.simple-slider__img-a {
	position: absolute;
	height: 100%;
	clip: rect(0 200px auto 0);
}

.simple-slider__slider {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	cursor: pointer;
	border: 2px solid #FFF;
	-webkit-box-shadow:: 0 0 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}